{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\rules.css' %}">

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-3 text-center mb-4">
				<h2 class="heading-section">RULES</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="h5 mb-4 text-center">Change Rules</h3>
				<div class="table-wrap">
					<table class="table table-dark table-bordered table-hover">
						<thead class="thead-primary">
							<tr class="table-active">
								<th>N.O</th>
								<th>Information</th>
							</tr>
						</thead>
						<tbody>
							<tr class="alert" role="alert">
								<td>
									<span> 1 </span>
								</td>
								<td>
									<span> Minimum age </span>
                                    <input type="number">
									<span> Maximum age </span>
                                    <input type="number">

								</td>
							</tr>
							<tr class="alert" role="alert">
								<td>
									<span> 2 </span>
								</td>
								<td>
									<span> Maximum class size </span>
                                    <input type="number">
									<span> Number of classes </span>
                                    <input type="number">
									<span> Name of classes </span>
                                    <input type="text"  maxlength="5" size=7>

								</td>
								
							</tr>
							<tr class="alert" role="alert">
								<td>
									<span> 3 </span>
								</td>
								<td>
									<span> Number of subjects </span>
                                    <input type="number">
									<span> Old name subjects </span>
                                    <input type="text"  maxlength="15" size=7>
									<span> New name subjects </span>
                                    <input type="text"  maxlength="15" size=7>
								</td>
								
							</tr>
							
							<tr class="alert" role="alert">
								<td>
									<span>4</span>
								</td>
								<td>
									<span> Passing standard score </span>
                                    <input type="number">
							</tr>
						</tbody>
					</table>
					<a href="/change_rules" class="btn btn-primary  btn-lg float-end" role="button" aria-pressed="true">Change</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

