{% extends 'main.html' %}
{% load static %}
{% block content %}
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Class</th>
        <th scope="col">Student Numbers</th>
        <th scope="col">Pass Numbers</th>
        <th scope="col">Pass Rate</th>
      </tr>
    </thead>
    <tbody>
      {% for cla in class %}
      <tr>
        <td>{{cla.ID}}</td>
        <td>{{cla.Quantity}}</td>
        <td>{{cla.numPass}}</td>
        <td>{{cla.rate}} %  </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}