{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
	.link{
		margin : 10px
	}
</style>

<div class="card border-primary mb-3" style="max-width: 18rem; margin: 0px auto;">
	<div class="card-body text-primary" style="margin: 0px auto;">
		
		<h5>Class Information</h5>
		<p>ID: {{class1.ID}} </p>
		<p>Total Students: {{class1.Quantity}} </p>
		<p>Head Teacher: {{class1.HeadTeacher}} </p>
		<p>More: {{class1.More}} </p>
		
	</div>
	<a href="{% url 'classSummary' class1.ID  %}" class="btn btn-primary btn-lg float-center link" role="button" type="" aria-pressed="true">View report</a>

	<a href="{% url 'class_manage' %}" class="btn btn-dark btn-lg float-end link" role="button" aria-pressed="true" style="margin-right : 10px">Back</a>
	
</div>


<div class="col-md">
	<h5>STUDENTS</h5>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>ID</th>
					<th>Classname</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>Gender</th>
					<th>Email</th>
					<th>Birthday</th>
					<th>Address</th>
					<th>View</th>
					<th>Grade</th>
				</tr>

				{% for student in students %}
				<tr>
					<td>{{student.ID}}</td>
					<td>{{student.Classname}}</td>
					<td>{{student.FirstName}}</td>
					<td>{{student.LastName}}</td>
					<td>{{student.Gender}}</td>
					<td>{{student.Email}}</td>
					<td>{{student.Birthday}}</td>
					<td>{{student.Address}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'student' student.ID %}">View Detail</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'grade' student.ID %}">Grade</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock  %}
