{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
  button{
    margin: 0 10px 10px 0;
  }
  select{
    margin: 0 10px 10px 0;
  }
</style>
<!-- <link rel="stylesheet" href="{% static 'css\classManage.css' %}" type="text/css" class="d-flex justify-content-around"> -->
<script src="{% static 'js\classManage.js' %}"></script>

<div class="container">
  <h1>Class List</h1>
  
  <form method="get">
    {{myFilter.form}}
    <button type="submit" class="btn btn-outline-primary">Search</button>
  </form>

  
  
  <div class="row d-flex justify-content-center ">
  <table class="table">

    <thead class="thead-light">
      <tr>
        <th scope="col">Class</th>
        <th scope="col">Total Students</th>
        <th scope="col">Head Teacher</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for Class in Classes %}
      <tr>
        <td>{{Class.ID}}</td>
        <td>{{Class.Quantity}}</td>
        <td>{{Class.HeadTeacher}}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'class_Information' Class.ID %}">View Detail</a></td>
        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_class' Class.ID %}">Delete</a></td>
      </tr> 
      {% endfor %} 
    </tbody>

  </table>
  
</div>
<!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->

</div>
  
{% endblock %}