{% extends 'main.html' %}
{% block content %}

    <br>

    <div class="row">
      <div>
        <p></P>
        {% comment %} <a href="{% url 'create_grade' id %}" class="btn btn-dark float-end" role="button" aria-pressed="true">add grade</a> {% endcomment %}
      </div>
      <h5>School Year : {{year}}</h5>
      <hr>
      <div class="card card-body">
        <table class="table table-sm">
          <tr>
            <th>Student ID</th>
            <th>Subject ID</th>
            <th>Mark</th>
            <th>Update</th>
          </tr>

          {% for i in grade %}
            <tr>
              <td>{{i.StudentID}}</td>
              <td>{{i.SubjectID}}</td>
              <td>{{i.Mark}}</td>
              <td><a class="btn btn-sm btn-info" href="{% url 'update_grade' i.id %}">Update</a></td>
              {% comment %} <td><a class="btn btn-sm btn-danger" href="{% url 'remove_grade' i.id %}">Remove</a></td> {% endcomment %}
            </tr>
          {% endfor %}
          
      </div>
    </div>
      
    </div>

{% endblock content %}