{% extends 'main.html' %}
{% load static %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Year</th>
      <th scope="col">Semester</th>
      <th scope="col">Name</th>
      <th scope="col">5min Test</th>
      <th scope="col">60min Test</th>
      <th scope="col">Final Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>(Chọn trong danh sách có sẵn)</td>
      <td>(Chọn trong danh sách có sẵn)</td>
      <td>điền vào</td>
      <td>điền vào</td>
      <td>điền vào</td>
      <td>điền vào</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>Submit</th>
    </tr>
  </tbody>
</table>
{% endblock %}