{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css\login.css' %}">
</head>

<body>

  <form action="/action_page.php" class="login" method="post">
    <div class="imgcontainer">
      <img src="{% static 'images\thunderDuck.jpeg' %}" alt="Avatar" class="avatar">
      <h3>Thunder Ducks</h3>
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <a href="register.html"><button type="button" class="btn-signup">Sign Up</button></a>
      <span class="psw"> <a href="#">Forgot password</a></span>
    </div>
  </form>

</body>

</html>