{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\register.css' %}">

<form action="" class="register" method="post">
  <div class="imgcontainer">
    <img src="{% static 'images\thunderDuck.jpeg' %}" alt="Avatar" class="avatar">
    <h3>Thunder Ducks</h3>
  </div>

  <div class="form-group">
    <label for="email"><b>Email</b></label>
    <input type="email" class="form-control" id="eInputEmail1" placeholder="Enter email">
  </div>
  
  <div class="form-group">
    <label for="uname"><b>Username</b></label>
    <input type="text" class="form-control" id="InputUser1" placeholder="Enter Username">
  </div>
    
  <div class="form-group">
    <label for="psw"><b>Repeat password</b></label>
    <input type="password" class="form-control" id="InputPass1" placeholder="Enter pass">
  </div>

  <div class="form-group">
    <label for="psw-re"><b>Repeat password</b></label>
    <input type="password" class="form-control" id="InputPass2" placeholder="Repeat pass">
  </div>
    
  <div class="form-group">
    <label for="Role"><b>Role</b></label>
    <select class="form-control" aria-label=".form-select-sm example">
      <option selected>---Subject---</option>
      <option value="1">Teacher</option>
      <option value="2">Student</option>
      <option value="3">Admin</option>
    </select>
  </div>
    
  <div class="form-group row">
    <button type="submit" class="btn btn-primary" id ="submit-register" >Register</button>
  </div>
  
</form>
{% endblock %}