<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="login.css">
</head>
<body>

<form action="/action_page.php" class="login" method="post">
  <div class="imgcontainer">
    <img src="thunderDuck.jpeg" alt="Avatar" class="avatar">
    <h3>Thunder Ducks</h3>
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    
    <label for="psw-re"><b>Repeat password</b></label>
    <input type="password" placeholder="Re Password " name="psw-re" required>

    <label for="psw-re"><b>Repeat password</b></label>
    <input type="password" placeholder="Re Password " name="psw-re" required>
    
    <select class="select">
        <option value="1" disabled>Choose option</option>
        <option value="2">Teacher</option>
        <option value="3">Student</option>
      </select>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="btn-signup">Sign Up</button>
  </div>
</form>

</body>
</html>
