{% extends 'main.html' %}
{% block content %}
<div class="row">
	{% if request.user.is_staff %}
	<div>
		<p></P>
		<a href="/addStudent" class="btn btn-dark  float-end" role="button" aria-pressed="true">add student</a>
	</div>
	{% endif %}

	<div class="col-md">
		<h5>STUDENTS:</h5>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th></th>
					<th></th>
					<th>ID</th>
					<th>Name</th>
					<th>Classname</th>
					<th>avg1</th>
					<th>avg2</th>
				</tr>
				{% for student in students %}
				<tr>
					<td><a class="btn btn-sm btn-info" href="{% url 'student' student.ID %}">View Detail</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'grade' student.ID %}">Grade</a></td>
					<td>{{student.ID}}</td>
					<td>{{student.LastName}} {{student.FirstName}}</td>
					<td>{{student.Classname}}</td>
					<td>{{student.rp1}}</td>
					<td>{{student.rp2}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock %}