{% extends 'main.html' %}
{% load static %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Class</th>
      <th scope="col">Student Numbers</th>
      <th scope="col">Pass Numbers</th>
      <th scope="col">Pass Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>...</td>
      <td>...</td>
      <td>(số lượng đạt)</td>
      <td>(tỉ lệ)</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>
{% endblock %}