{% extends 'main.html' %}
{% block content %}
<style>
</style>
<div class="row">
	{% if request.user.is_staff %}
	<div>
		<p></P>
		<a href="/addTeacher" class="btn btn-dark float-end" role="button" aria-pressed="true">add teacher</a>
	</div>
	{% endif %}
	<form method="get">
		{{myFilter.form}}
		<button type="submit" class="btn btn-outline-primary">Search</button>
	  </form>
	<div class="col-md">
		<h5>TEACHERS:</h5>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>ID</th>
					<th>SubjectID</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>Gender</th>
					<th>Email</th>
					<th>Birthday</th>
					<th>Address</th>
					<th></th>
				</tr>
				{% for teacher in teachers %}
				<tr>
					<td>{{teacher.ID}}</td>
					<td>{{teacher.SubjectID}}</td>
					<td>{{teacher.FirstName}}</td>
					<td>{{teacher.LastName}}</td>
					<td>{{teacher.Gender}}</td>
					<td>{{teacher.Email}}</td>
					<td>{{teacher.Birthday}}</td>
					<td>{{teacher.Address}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'teacher' teacher.ID %}">View Detail</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock %}