{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Teacher Information</h5>
            <p>ID: {{teacher.ID}} </p>
            <p>SubjectID: {{teacher.SubjectID}} </p>
            <p>FirstName: {{teacher.FirstName}} </p>
            <p>LastName: {{teacher.LastName}} </p>
            <p>Gender: {{teacher.Gender}} </p>
            <p>Email: {{teacher.Email}} </p>
            <p>Birthday: {{teacher.Birthday}} </p>
            <p>Address: {{teacher.Address}} </p>
        </div>
    </div>
</div>
<div>
    <p></P>
    <a href="{% url 'teachers'  %}" class="btn btn-dark btn-lg float-end" role="button" aria-pressed="true" style="margin-right : 10px">Back</a>
</div>
{% endblock %}