{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <div class="card card-body">
            <h5>Teacher Information</h5>
            <p>ID: {{teacher.ID}} </p>
            <p>SubjectID: {{teacher.SubjectID}} </p>
            <p>FirstName: {{teacher.FirstName}} </p>
            <p>LastName: {{teacher.LastName}} </p>
            <p>Gender: {{teacher.Gender}} </p>
            <p>Email: {{teacher.Email}} </p>
            <p>Birthday: {{teacher.Birthday}} </p>
            <p>Address: {{teacher.Address}} </p>
        </div>
        <div class="row">
			<p class=""></P>
			<a href="{% url 'students'  %}" class="btn btn-dark btn-lg" role="button" aria-pressed="true" style="margin-right : 10px">Back</a>
		</div>
    </div>
</div>
</div>
{% endblock %}