{% extends 'main.html' %}
{% load static %}
{% block content %}
{% comment %} <form action="" method="POST">
	{% csrf_token %}
	{{form}}
	<input type="submit" name="Submit">
</form> {% endcomment %}
<div class="row">

<form action="" method="POST">
	{% csrf_token %}
	<div class="col-md">
		<h5>STUDENTS:</h5>
			<div class="card card-body">
				<table class="table">
					<tr>
						<th>StudentID</th>
						<th>SubjectID</th>
						<th>Mark15</th>
						<th>Mark60</th>
						<th>MarkFinal</th>
						<th>Semester</th>
						<th>Year_school</th>
					</tr>
					<tr>
						<td>{{form.StudentID}}</td>
						<td>{{form.SubjectID}}</td>
						<td>{{form.Mark15}}</td>
						<td>{{form.Mark60}}</td>
						<td>{{form.MarkFinal}}</td>
						<td>{{form.semester}}</td>
						<td>{{form.year_school}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<input type="submit" class="float-end" name="Submit" style="margin-top:10px">
	{% for message in messages %}
		<p id="messages">{{message}}</p>
  	{% endfor %}
</form>
</div>
{{form.errors}}
{% endblock %}
