html,body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
}

form {
  margin: 4% auto;
  /* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 50%;
  border-radius: 1%;
}

.form-group {
  margin-bottom: 10px;
  margin: 0 auto 10px auto;
  width: 70%;
}